Trendy Market.json
{
  "name": "Trendy Market",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        288,
        336
      ],
      "id": "75db4c15-994c-4b29-a36a-819858f241dc",
      "name": "WhatsApp Trigger",
      "webhookId": "6c2d9cb3-905b-4bd9-bf40-eef4c8b88d42",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": " ",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1005125079341454",
        "recipientPhoneNumber": "=923127401783",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        992,
        336
      ],
      "id": "191115c9-8ee0-4c14-8a82-a2894cebef5b",
      "name": "Send message",
      "webhookId": "ea6c2f8a-c9c0-46ee-9339-d64e67cd8662",
      "credentials": {
        "whatsAppApi": {
          "id": " ",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.contacts[0].wa_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        512,
        560
      ],
      "id": "63affec2-6dae-49c3-9593-2c7f1a1c5f99",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1YbfLb5Zd1gPBWtY5VOZDxdJfOT_9fQg4FTRC7vmpMzI",
          "mode": "list",
          "cachedResultName": "n8n_whatsapp_ai_agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YbfLb5Zd1gPBWtY5VOZDxdJfOT_9fQg4FTRC7vmpMzI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2113536313,
          "mode": "list",
          "cachedResultName": "Inventory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YbfLb5Zd1gPBWtY5VOZDxdJfOT_9fQg4FTRC7vmpMzI/edit#gid=2113536313"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        640,
        560
      ],
      "id": "ca073f3f-9eb9-463d-b1e3-2a0427be0043",
      "name": "Inventory",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8iFkfQkmsFMs3QSa",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1YbfLb5Zd1gPBWtY5VOZDxdJfOT_9fQg4FTRC7vmpMzI",
          "mode": "list",
          "cachedResultName": "n8n_whatsapp_ai_agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YbfLb5Zd1gPBWtY5VOZDxdJfOT_9fQg4FTRC7vmpMzI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1202184712,
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YbfLb5Zd1gPBWtY5VOZDxdJfOT_9fQg4FTRC7vmpMzI/edit#gid=1202184712"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        768,
        560
      ],
      "id": "55c54ef9-8c56-4c65-8ca8-e51b95b65e04",
      "name": "FAQ",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": " ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1YbfLb5Zd1gPBWtY5VOZDxdJfOT_9fQg4FTRC7vmpMzI",
          "mode": "list",
          "cachedResultName": "n8n_whatsapp_ai_agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YbfLb5Zd1gPBWtY5VOZDxdJfOT_9fQg4FTRC7vmpMzI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 338207046,
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YbfLb5Zd1gPBWtY5VOZDxdJfOT_9fQg4FTRC7vmpMzI/edit#gid=338207046"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone', ``, 'string') }}",
            "Product": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Product', ``, 'string') }}",
            "Quantity": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Quantity', ``, 'string') }}",
            "Total_price": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Total_price', ``, 'string') }}",
            "Timestamp": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Timestamp', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Product",
              "displayName": "Product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity",
              "displayName": "Quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total_price",
              "displayName": "Total_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        896,
        560
      ],
      "id": "ba989fba-8c05-4861-b9fe-fc89d626ed19",
      "name": "Order",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        528
      ],
      "id": "b2ddad4f-0a78-47e6-b9c0-141586093e9b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "You are a WhatsApp sales assistant.\n\nRules:\n- You only respond to text messages.\n- Use Get Inventory tool ONLY for product, stock, or price questions.\n- Use Get FAQ tool ONLY for business policies and FAQs.\n- NEVER place an order immediately.\n\nOrder flow:\n1. Identify product and quantity.\n2. Fetch price from inventory.\n3. Calculate total price.\n4. Show order summary.\n5. Ask for confirmation.\n\nOnly when user replies with:\nYES, CONFIRM, PLACE ORDER\n→ use Post Orders tool.\n\nIf user changes product or quantity, restart the flow.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        576,
        336
      ],
      "id": "bca133a3-016b-4210-a741-3992a5a6bebb",
      "name": "Trendy Market Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Trendy Market Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Trendy Market Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Inventory": {
      "ai_tool": [
        [
          {
            "node": "Trendy Market Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "FAQ": {
      "ai_tool": [
        [
          {
            "node": "Trendy Market Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Order": {
      "ai_tool": [
        [
          {
            "node": "Trendy Market Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Trendy Market Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Trendy Market Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9a6e3441-896c-4f15-a830-33e949fe8f57",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": " "
  },
  "id": "",
  "tags": []
}